<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="TheTVDB Service Provider / Hydrator">
    <meta name="author" content="Adam Bowling">
    <title>TheTVDB Service Provider / Hydrator</title>
    <link href="//fonts.googleapis.com/css?family=Open+Sansc" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
  </head>
  <body>
    {{ include('header.html.twig') }}
    <div id="results"></div>
    {{ include('results.html.twig') }}
    {{ include('footer.html.twig') }}
    <script src="js/app.js" type="text/javascript"></script>
  </body>
  </html>
