<div id="series-results">
  <div class="container series-container">
    <div class="row">
      <div class="col-3">
        <img class="series-poster-thumb img-fluid"/>
        <div class="row">
          <div class="col">
          <button class="series-button btn btn-block btn-lg btn-primary">View Episodes</button>
          </div>
        </div>
      </div>
      <div class="col-9">
        <h2 class="series-title"></h2>
        <h4 class="series-network"></h4>
        <p class="series-overview"></p>
        <p><a class="series-imdb-link" target="_blank">View on IMDB</a>
      </div>
    </div>
  </div>
  <div class="row series-episodes">
  </div>
</div>
<div id="episode-results">
  <div class="container episode-container">
    <div class="row">
      <div class="col-2">
        <img class="episode-img img-fluid"/>
      </div>
      <div class="col-10">
        <h2 class="episode-title"></h2>
        <h3>Season: <span class="episode-season"></span> Episode: <span class="episode-number"></span></h3>
        <p class="episode-overview"></p>
      </div>
    </div>
  </div>
</div>
